$menuColor: #EDC7B7;
$contentColor: #EEE2DC;
$fontColor: #123c69;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 10px 0;
}

.App-header {
  background: url(back7.jpg) #C5C4D3;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 575px) {
  .App-header {
    justify-content: flex-start;
  }
}

.App-link {
  color: #61dafb;
}

@media (min-width: 1800px) {
  .container {
    // important for overriding bootstrap styles
    max-width: 1600px !important;
  }
}

.container {
  border-radius: 5px;
  background-color: $contentColor;
  color: $fontColor;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.9;

  .menu {
    background-color: $menuColor;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px;
  }

  .mobile-menu {
    background-color: $menuColor;
    padding: 15px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &:hover {
      background: rgba(0,0,0, 0.1);
      cursor: pointer;
    }

    .bars {
      font-size: 20px;
    }
  }

  @media (min-width: 576px) {
    .mobile-menu {
      display: none;
    }
  }

  @media (max-width: 575px) {
    .menu.hide {
      display: none;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    .placeholder {
      font-size: 20px;
      padding-top: 30px;
    }
  }
}

.category {
  padding: 7px 25px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  box-shadow: 0 1px 0 rgba(0, 0, 0 , 0.1);

  &.selected {
    border-left: 5px solid $fontColor;
  }

  &:hover {
    background: rgba(0,0,0, 0.1);
  }

  .counter {
    background-color: $contentColor;
    padding: 0 5px;
    border-radius: 30px;
  }
}

.fact{
  padding: 20px;
  cursor: pointer;
  font-size: 18px;

  .favourite {
    margin-right: 10px;
    margin-bottom: 3px;
    font-size: 20px;
  }

  &:hover {
    text-shadow: 0px 0px 2px rgba(18, 60, 105, 0.4);
  }
}